@model VacationListViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <a asp-action="Sort" asp-route-sort="SortByDestination">Destination</a>
                </th>
                <th>
                    <a asp-action="Sort" asp-route-sort="SortByStartDate">Start Date</a>
                </th>
                <th>
                    <a asp-action="Sort" asp-route-sort="SortByEndDate">End Date</a>
                </th>
                <th>
                    <a asp-action="Sort" asp-route-sort="SortByAccommodation">Accommodation</a>
                </th>
                <th>
                    <a asp-action="Sort" asp-route-sort="SortByActivities">Activities</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Trip trip in Model.Trips)
            {
                <tr>
                    <td>
                        @trip.Destination.Name
                    </td>
                    <td>
                        @trip.StartDate.ToShortDateString()
                    </td>
                    <td>
                        @trip.EndDate.ToShortDateString()
                    </td>
                    <td>
                        @trip.Accommodation.Name
                    </td>
                    <td>
                        @foreach (Activity activity in trip.Activities)
                        {
                            <p>@($"{activity.Name} \n") </p>
                        }
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-action="DeleteTrip" asp-route-id="@trip.Id">Delete</a>
                    </td>
                </tr>

                
            }
        </tbody>
    </table>
</div>
<div class="container-fluid m-2">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a asp-action="Home" asp-controller="Vacation" asp-route-pageNumber="@i" class="btn btn-outline-primary @(Model.PageNumber == i ? "active" : "")">@i</a>
    }
</div>
<div class="container-fluid m-2">
    <form class="form-inline" asp-action="PageSize" method="post">
        <label>Page Size: </label>
        <select class="form-control m-2" name="size" asp-items="@(new SelectList(Model.PageSizes, Model.PageSize))">
        </select>

        <button type="submit" class="btn btn-primary m-1">Apply</button>
    </form>
</div>